.grey {
    background-color: var(--almost-white);
    margin: 0 auto;

    .frame {
        border-radius: $default-border-radius;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        padding: 0;
    }
    .item {
        background-color: var(--snow);
        justify-content: space-between;
        width: $employee-card-width;

        &-name {
            font-size: 16px;
            font-weight: 500;
            line-height: 1, 2;
            letter-spacing: 3%;
            vertical-align: top;
            text-align: center;
        }
        &-position {
            color: var(--mouse);
            font-size: 16px;
            line-height: 1, 2;
            letter-spacing: 3%;
            vertical-align: top;
            text-align: center;
        }
    }
}
