.grey {
    background-color: var(--almost-white);
    margin: 0 auto;
}
.frame {
    border-radius: $default-border-radius;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
}
.item-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
}
.item-position {
    color: var(--mouse);
    font-size: 16px;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
}
.item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 50px;
}
.item-logos {
    color: var(--icons-grey);
    fill: currentColor;

    &_item-logos-design {
        fill: var(--mouse);
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
    }
}
.item-logos-design:hover {
    border-radius: 50%;
    cursor: pointer;
    background: var(--brand-color);
    fill: var(--snow);
    transition-duration: $default-time;
    transition-timing-function: $default-timing-function;
}
