.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--snow);
}
.footer-ul {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer-list {
    margin-right: 10px;
    width: 44px;
    height: 44px;
}
.footer-icon-social {
    background: var(--mouse);
    border-radius: 50%;
    fill: var(--snow);
    width: 40px;
    height: 40px;
}
.footer-icon-social:hover {
    background: var(--brand-color);
    border-radius: 50%;
    cursor: pointer;
    fill: var(--snow);
    transition-duration: $default-time;
    transition-timing-function: $default-timing-function;
}
